aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
beautifulsoup4==4.14.3
billiard==4.2.4
blinker==1.9.0
blis==1.3.3
catalogue==2.0.10
celery==5.6.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.23.0
cmdstanpy==1.3.0
confection==0.1.5
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
Deprecated==1.3.1
distro==1.9.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
exceptiongroup==1.3.1
fastapi==0.124.4
finazon-grpc-python==1.2.1
finnhub-python==2.4.26
Flask==3.1.2
Flask-Limiter==4.1.1
fonttools==4.61.1
frozenlist==1.8.0
greenlet==3.3.0
grpcio==1.76.0
grpcio-tools==1.76.0
gunicorn==23.0.0
h11==0.16.0
holidays==0.86
httpcore==1.0.9
httpx==0.28.1
cachetools>=5
respx>=0.21
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.12.0
kiwisolver==1.4.9
kombu==5.6.1
langcodes==3.5.1
language_data==1.4.0
limits==5.6.0
lxml==6.0.2
marisa-trie==1.3.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
multidict==6.7.0
murmurhash==1.0.15
mypy-protobuf==3.7.0
numpy==2.3.5
openai==2.12.0
ordered-set==4.1.0
orjson==3.11.5
packaging==24.2
pandas==2.3.3
pandas-stubs==2.3.3.251201
pillow==12.0.0
pinecone==8.0.0
pinecone-plugin-assistant==3.0.1
pinecone-plugin-interface==0.0.7
playwright==1.57.0
polygon-api-client==1.16.3
preshed==3.0.12
prompt_toolkit==3.0.52
propcache==0.4.1
prophet==1.2.1
protobuf==6.33.2
psutil==7.1.3
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.5
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytz==2025.2
regex==2025.11.3
requests==2.32.5
rich==14.2.0
scipy==1.16.3
shellingham==1.5.4
six==1.17.0
smart_open==7.5.0
sniffio==1.3.1
soupsieve==2.8
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.45
srsly==2.5.2
stanio==0.5.1
starlette==0.50.0
tenacity==9.1.2
thinc==8.3.10
tiktoken==0.12.0
tqdm==4.67.1
twilio==9.8.8
typer==0.20.0
typer-slim==0.20.0
types-protobuf==6.32.1.20251210
types-pytz==2025.2.0.20251108
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.2
uvicorn==0.38.0
vine==5.1.0
wasabi==1.1.3
wcwidth==0.2.14
weasel==0.4.3
websockets==15.0.1
Werkzeug==3.1.4
wrapt==2.0.1
yarl==1.22.0
